<div class="row">
    <div class="col-md-6 col-10 mx-auto my-5 registration">
        <form [formGroup]="registrationForm" (submit) = "register()">
            <mat-error *ngIf="registrationForm.errors?.invalidPassword">
                Password and Confirm Password should be same
            </mat-error>
            <mat-form-field class="example-full-width">
                <input matInput type="test" placeholder="First Name" formControlName="firstName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="test" placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Contact Number" formControlName="mobile">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
                <button [disabled]="registrationForm.invalid" type="submit" mat-raised-button color="primary">Register</button>
            </div>
        
        </form>
    </div>
</div>