<div class="row">
    <div class="col-md-4 col-10 mx-auto my-5 login">
        <form class="example-form" (submit)="login()">
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Email" name="email" value="Email" [(ngModel)]="user.email">
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <textarea matInput type="password" placeholder="password" name="password" [(ngModel)]="user.password"></textarea>
            </mat-form-field>
            <div>
                <button type="submit" mat-raised-button color="primary">Login</button>
                <button type="button" routerLink="/register" mat-raised-button color="primary">Sign Up</button>
            </div>
        </form>
    </div>
</div>
